In [1]:
import pandas as pd

sab se phale o data ko samjna padga jo le rehe ho  tab tum koi bhi filter laga sate 
ager data nahi samjhe paya  filter lagane me dekhat hogi 
phele data ko samjhna juri hai important hai

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")

In [3]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [7]:
df.describe() #numurecle(int,float) like ke liye  stastical infomesan deta hai na ke str(obj) ke liye

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

🔹 Simple words me:

Tumhare paas, maan lo, 100 flowers hain

Unke sepal_length ko chhote se bade order me lagate hain

Jo 25th flower hai (bottom 25%), uska size = 5.1 cm

💡 Matlab: sabse chhote 25 flowers ki sepal_length ≤ 5.1 cm 


Step 2 — 25%, 50%, 75% percentile nikalna

Formula (interpolation) use karte hain:

Position=(n−1)×p+1

jahaan

n = number of values = 6

p = percentile fraction (25% → 0.25, 50% → 0.5, 75% → 0.75)

In [8]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [9]:
df[["species"]]

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

In [10]:
df.dtypes == 'object' # automatcie we se

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
species          True
dtype: bool

In [11]:
df.dtypes[df.dtypes == 'object']

species    object
dtype: object

In [12]:
type(df.dtypes[df.dtypes == 'object'])

pandas.core.series.Series

In [13]:
df.dtypes[df.dtypes == 'object'].index #matlab jo .index kya to sara collums list me a jata hai to ak list[] df.dtypes[df.dtypes == 'object'].index isme hai

Index(['species'], dtype='object')

In [14]:
df[df.dtypes[df.dtypes == 'object'].index]

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

In [15]:
type(df[df.dtypes[df.dtypes == 'object'].index])

pandas.core.frame.DataFrame

In [16]:
df[df.dtypes[df.dtypes == 'object'].index].describe() #freq ka matlab hota hai frequency, yaani kitni baar koi cheez repeat(kitne bar aaya ahi ) hui.

       species
count      150
unique       3
top     setosa
freq        50

ount = 150

Matlab "species" column me total 150 values hain (rows ke equal).

🔹 unique = 3

Matlab us column me 3 alag-alag values hain:
👉 setosa, versicolor, aur virginica.

🔹 top = setosa

Matlab sabse zyada baar aane wali value (mode) hai — "setosa".

🔹 freq = 50

Matlab "setosa" 50 baar aayi hai column me.o 50 bar likka hua hai

In [17]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [18]:
df.dtypes == 'float64'

sepal_length     True
sepal_width      True
petal_length     True
petal_width      True
species         False
dtype: bool

In [19]:
df.dtypes[df.dtypes == 'float64'].index

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width'], dtype='object')

In [20]:
df[df.dtypes[df.dtypes == 'float64'].index]

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [21]:
df.dtypes == 'int64' # nahi hai

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
species         False
dtype: bool

In [22]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [23]:
df[['species']][4:11]

   species
4   setosa
5   setosa
6   setosa
7   setosa
8   setosa
9   setosa
10  setosa

In [24]:
df[['species','petal_width']][4:11:2] #4 lower , 11 auper  uper se  ak kam data aata hai , 2 jump bad hota lika jata ahi

   species  petal_width
4   setosa          0.2
6   setosa          0.3
8   setosa          0.2
10  setosa          0.2

In [25]:
df['new_col']= 0

In [26]:
df

     sepal_length  sepal_width  petal_length  petal_width    species  new_col
0             5.1          3.5           1.4          0.2     setosa        0
1             4.9          3.0           1.4          0.2     setosa        0
2             4.7          3.2           1.3          0.2     setosa        0
3             4.6          3.1           1.5          0.2     setosa        0
4             5.0          3.6           1.4          0.2     setosa        0
..            ...          ...           ...          ...        ...      ...
145           6.7          3.0           5.2          2.3  virginica        0
146           6.3          2.5           5.0          1.9  virginica        0
147           6.5          3.0           5.2          2.0  virginica        0
148           6.2          3.4           5.4          2.3  virginica        0
149           5.9          3.0           5.1          1.8  virginica        0

[150 rows x 6 columns]

In [27]:
df['new_col1'] = df["sepal_length"] + df["petal_length"]

In [28]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
0,5.1,3.5,1.4,0.2,setosa,0,6.5
1,4.9,3.0,1.4,0.2,setosa,0,6.3
2,4.7,3.2,1.3,0.2,setosa,0,6.0
3,4.6,3.1,1.5,0.2,setosa,0,6.1
4,5.0,3.6,1.4,0.2,setosa,0,6.4
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,0,11.9
146,6.3,2.5,5.0,1.9,virginica,0,11.3
147,6.5,3.0,5.2,2.0,virginica,0,11.7
148,6.2,3.4,5.4,2.3,virginica,0,11.6
149,5.9,3.0,5.1,1.8,virginica,0,11.0

In [29]:
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
0,5.1,3.5,1.4,0.2,setosa,0,6.5
1,4.9,3.0,1.4,0.2,setosa,0,6.3
2,4.7,3.2,1.3,0.2,setosa,0,6.0
3,4.6,3.1,1.5,0.2,setosa,0,6.1
4,5.0,3.6,1.4,0.2,setosa,0,6.4

In [30]:
pd.Categorical(df['sepal_length']) # unique kita  hai /matlab ak durese diffent kitna hai matlab  kisi column me kitne alag-alag (distinct) values hain.matlab ['A', 'A', 'B', 'C'] → 3 unique values (A, B, C)

[5.1, 4.9, 4.7, 4.6, 5.0, ..., 6.7, 6.3, 6.5, 6.2, 5.9]
Length: 150
Categories (35, float64): [4.3, 4.4, 4.5, 4.6, ..., 7.4, 7.6, 7.7, 7.9]

In [31]:
pd.Categorical(df['petal_width'])

[0.2, 0.2, 0.2, 0.2, 0.2, ..., 2.3, 1.9, 2.0, 2.3, 1.8]
Length: 150
Categories (22, float64): [0.1, 0.2, 0.3, 0.4, ..., 2.2, 2.3, 2.4, 2.5]

In [32]:
pd.Categorical(df['new_col'])

[0, 0, 0, 0, 0, ..., 0, 0, 0, 0, 0]
Length: 150
Categories (1, int64): [0]

In [33]:
pd.Categorical(df['species'])

['setosa', 'setosa', 'setosa', 'setosa', 'setosa', ..., 'virginica', 'virginica', 'virginica', 'virginica', 'virginica']
Length: 150
Categories (3, object): ['setosa', 'versicolor', 'virginica']

In [34]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [35]:
df['new_col'].unique()

array([0])

In [36]:
df['petal_width'].unique()

array([0.2, 0.4, 0.3, 0.1, 0.5, 0.6, 1.4, 1.5, 1.3, 1.6, 1. , 1.1, 1.8,
       1.2, 1.7, 2.5, 1.9, 2.1, 2.2, 2. , 2.4, 2.3])

In [37]:
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
0,5.1,3.5,1.4,0.2,setosa,0,6.5
1,4.9,3.0,1.4,0.2,setosa,0,6.3
2,4.7,3.2,1.3,0.2,setosa,0,6.0
3,4.6,3.1,1.5,0.2,setosa,0,6.1
4,5.0,3.6,1.4,0.2,setosa,0,6.4

In [38]:
df['sepal_length'] > 5 # "condition hai

0       True
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: sepal_length, Length: 150, dtype: bool

In [39]:
type(df['sepal_length'] > 5) # ager o series df[ <Series> ] to  automatically list hota hai series me list hota ahi

pandas.core.series.Series

Step 2: df[ ... ]

Ab tumne likha df[ <Series> ]
Matlab tumne DataFrame me ek boolean list (mask) di.

Pandas automatically filter karta hai:

Sirf wo rows rakhta hai jinke liye Series me True likha ho.

So ye filtering condition ke liye use hota hai, na ki column selection ke liye.

In [40]:
df[df['sepal_length'] > 5] #"condition ko datafame rakh de rehe hai

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
0,5.1,3.5,1.4,0.2,setosa,0,6.5
5,5.4,3.9,1.7,0.4,setosa,0,7.1
10,5.4,3.7,1.5,0.2,setosa,0,6.9
14,5.8,4.0,1.2,0.2,setosa,0,7.0
15,5.7,4.4,1.5,0.4,setosa,0,7.2
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,0,11.9
146,6.3,2.5,5.0,1.9,virginica,0,11.3
147,6.5,3.0,5.2,2.0,virginica,0,11.7
148,6.2,3.4,5.4,2.3,virginica,0,11.6
149,5.9,3.0,5.1,1.8,virginica,0,11.0

In [41]:
len(df[df['sepal_length'] > 5]) - 150

-32

In [42]:
df[df['petal_width'] > 1.199333]

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
50,7.0,3.2,4.7,1.4,versicolor,0,11.7
51,6.4,3.2,4.5,1.5,versicolor,0,10.9
52,6.9,3.1,4.9,1.5,versicolor,0,11.8
53,5.5,2.3,4.0,1.3,versicolor,0,9.5
54,6.5,2.8,4.6,1.5,versicolor,0,11.1
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,0,11.9
146,6.3,2.5,5.0,1.9,virginica,0,11.3
147,6.5,3.0,5.2,2.0,virginica,0,11.7
148,6.2,3.4,5.4,2.3,virginica,0,11.6
149,5.9,3.0,5.1,1.8,virginica,0,11.0

In [43]:
df[df['petal_width'] == 0] # koi flower nahi jisaka petal_width 0 ho

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species, new_col, new_col1]
Index: []

In [44]:
df[df['petal_width'] == 1]

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
57,4.9,2.4,3.3,1.0,versicolor,0,8.2
60,5.0,2.0,3.5,1.0,versicolor,0,8.5
62,6.0,2.2,4.0,1.0,versicolor,0,10.0
67,5.8,2.7,4.1,1.0,versicolor,0,9.9
79,5.7,2.6,3.5,1.0,versicolor,0,9.2
81,5.5,2.4,3.7,1.0,versicolor,0,9.2
93,5.0,2.3,3.3,1.0,versicolor,0,8.3

In [45]:
len(df[df['petal_width'] == 1])

7

In [46]:
df[df['species'] == 'setosa' ]

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
0,5.1,3.5,1.4,0.2,setosa,0,6.5
1,4.9,3.0,1.4,0.2,setosa,0,6.3
2,4.7,3.2,1.3,0.2,setosa,0,6.0
3,4.6,3.1,1.5,0.2,setosa,0,6.1
4,5.0,3.6,1.4,0.2,setosa,0,6.4
5,5.4,3.9,1.7,0.4,setosa,0,7.1
6,4.6,3.4,1.4,0.3,setosa,0,6.0
7,5.0,3.4,1.5,0.2,setosa,0,6.5
8,4.4,2.9,1.4,0.2,setosa,0,5.8
9,4.9,3.1,1.5,0.1,setosa,0,6.4
10,5.4,3.7,1.5,0.2,setosa,0,6.9
11,4.8,3.4,1.6,0.2,setosa,0,6.4
12,4.8,3.0,1.4,0.1,setosa,0,6.2
13,4.3,3.0,1.1,0.1,setosa,0,5.4
14,5.8,4.0,1.2,0.2,setosa,0,7.0
15,5.7,4.4,1.5,0.4,setosa,0,7.2
16,5.4,3.9,1.3,0.4,setosa,0,6.7
17,5.1,3.5,1.4,0.3,setosa,0,6.5
18,5.7,3.8,1.7,0.3,setosa,0,7.4
19,5.1,3.8,1.5,0.3,setosa,0,6.6
20,5.4,3.4,1.7,0.2,setosa,0,7.1
21,5.1,3.7,1.5,0.4,setosa,0,6.6
22,4.6,3.6,1.0,0.2,setosa,0,5.6
23,5.1,3.3,1.7,0.5,setosa,0,6.8
24,4.8,3.4,1.9,0.2,setosa,0,6.7
25,5.0,3.0,1.6,0.2,setosa,0,6.6
26,5.0,3.4,1.6,0.4,setosa,0,6.6
27,5.2,3.5,1.5,0.2,setosa,0,6.7
28,5.2,3.4,1.4,0.2,setosa,0,6.6
29,4.7,3.2,1.6,0.2,setosa,0,6.3
30,4.8,3.1,1.6,0.2,setosa,0,6.4
31,5.4,3.4,1.5,0.4,setosa,0,6.9
32,5.2,4.1,1.5,0.1,setosa,0,6.7
33,5.5,4.2,1.4,0.2,setosa,0,6.9
34,4.9,3.1,1.5,0.2,setosa,0,6.4
35,5.0,3.2,1.2,0.2,setosa,0,6.2
36,5.5,3.5,1.3,0.2,setosa,0,6.8
37,4.9,3.6,1.4,0.1,setosa,0,6.3
38,4.4,3.0,1.3,0.2,setosa,0,5.7
39,5.1,3.4,1.5,0.2,setosa,0,6.6
40,5.0,3.5,1.3,0.3,setosa,0,6.3
41,4.5,2.3,1.3,0.3,setosa,0,5.8
42,4.4,3.2,1.3,0.2,setosa,0,5.7
43,5.0,3.5,1.6,0.6,setosa,0,6.6
44,5.1,3.8,1.9,0.4,setosa,0,7.0
45,4.8,3.0,1.4,0.3,setosa,0,6.2
46,5.1,3.8,1.6,0.2,setosa,0,6.7
47,4.6,3.2,1.4,0.2,setosa,0,6.0
48,5.3,3.7,1.5,0.2,setosa,0,6.8
49,5.0,3.3,1.4,0.2,setosa,0,6.4

In [47]:
len(df[df['species'] == 'setosa' ])

50

In [48]:
df[df['species'] == 'versicolor']

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
50,7.0,3.2,4.7,1.4,versicolor,0,11.7
51,6.4,3.2,4.5,1.5,versicolor,0,10.9
52,6.9,3.1,4.9,1.5,versicolor,0,11.8
53,5.5,2.3,4.0,1.3,versicolor,0,9.5
54,6.5,2.8,4.6,1.5,versicolor,0,11.1
55,5.7,2.8,4.5,1.3,versicolor,0,10.2
56,6.3,3.3,4.7,1.6,versicolor,0,11.0
57,4.9,2.4,3.3,1.0,versicolor,0,8.2
58,6.6,2.9,4.6,1.3,versicolor,0,11.2
59,5.2,2.7,3.9,1.4,versicolor,0,9.1
60,5.0,2.0,3.5,1.0,versicolor,0,8.5
61,5.9,3.0,4.2,1.5,versicolor,0,10.1
62,6.0,2.2,4.0,1.0,versicolor,0,10.0
63,6.1,2.9,4.7,1.4,versicolor,0,10.8
64,5.6,2.9,3.6,1.3,versicolor,0,9.2
65,6.7,3.1,4.4,1.4,versicolor,0,11.1
66,5.6,3.0,4.5,1.5,versicolor,0,10.1
67,5.8,2.7,4.1,1.0,versicolor,0,9.9
68,6.2,2.2,4.5,1.5,versicolor,0,10.7
69,5.6,2.5,3.9,1.1,versicolor,0,9.5
70,5.9,3.2,4.8,1.8,versicolor,0,10.7
71,6.1,2.8,4.0,1.3,versicolor,0,10.1
72,6.3,2.5,4.9,1.5,versicolor,0,11.2
73,6.1,2.8,4.7,1.2,versicolor,0,10.8
74,6.4,2.9,4.3,1.3,versicolor,0,10.7
75,6.6,3.0,4.4,1.4,versicolor,0,11.0
76,6.8,2.8,4.8,1.4,versicolor,0,11.6
77,6.7,3.0,5.0,1.7,versicolor,0,11.7
78,6.0,2.9,4.5,1.5,versicolor,0,10.5
79,5.7,2.6,3.5,1.0,versicolor,0,9.2
80,5.5,2.4,3.8,1.1,versicolor,0,9.3
81,5.5,2.4,3.7,1.0,versicolor,0,9.2
82,5.8,2.7,3.9,1.2,versicolor,0,9.7
83,6.0,2.7,5.1,1.6,versicolor,0,11.1
84,5.4,3.0,4.5,1.5,versicolor,0,9.9
85,6.0,3.4,4.5,1.6,versicolor,0,10.5
86,6.7,3.1,4.7,1.5,versicolor,0,11.4
87,6.3,2.3,4.4,1.3,versicolor,0,10.7
88,5.6,3.0,4.1,1.3,versicolor,0,9.7
89,5.5,2.5,4.0,1.3,versicolor,0,9.5
90,5.5,2.6,4.4,1.2,versicolor,0,9.9
91,6.1,3.0,4.6,1.4,versicolor,0,10.7
92,5.8,2.6,4.0,1.2,versicolor,0,9.8
93,5.0,2.3,3.3,1.0,versicolor,0,8.3
94,5.6,2.7,4.2,1.3,versicolor,0,9.8
95,5.7,3.0,4.2,1.2,versicolor,0,9.9
96,5.7,2.9,4.2,1.3,versicolor,0,9.9
97,6.2,2.9,4.3,1.3,versicolor,0,10.5
98,5.1,2.5,3.0,1.1,versicolor,0,8.1
99,5.7,2.8,4.1,1.3,versicolor,0,9.8

In [49]:
len(df[df['species'] == 'versicolor'])

50

In [50]:
df[df['species'] == 'virginica']

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
100,6.3,3.3,6.0,2.5,virginica,0,12.3
101,5.8,2.7,5.1,1.9,virginica,0,10.9
102,7.1,3.0,5.9,2.1,virginica,0,13.0
103,6.3,2.9,5.6,1.8,virginica,0,11.9
104,6.5,3.0,5.8,2.2,virginica,0,12.3
105,7.6,3.0,6.6,2.1,virginica,0,14.2
106,4.9,2.5,4.5,1.7,virginica,0,9.4
107,7.3,2.9,6.3,1.8,virginica,0,13.6
108,6.7,2.5,5.8,1.8,virginica,0,12.5
109,7.2,3.6,6.1,2.5,virginica,0,13.3
110,6.5,3.2,5.1,2.0,virginica,0,11.6
111,6.4,2.7,5.3,1.9,virginica,0,11.7
112,6.8,3.0,5.5,2.1,virginica,0,12.3
113,5.7,2.5,5.0,2.0,virginica,0,10.7
114,5.8,2.8,5.1,2.4,virginica,0,10.9
115,6.4,3.2,5.3,2.3,virginica,0,11.7
116,6.5,3.0,5.5,1.8,virginica,0,12.0
117,7.7,3.8,6.7,2.2,virginica,0,14.4
118,7.7,2.6,6.9,2.3,virginica,0,14.6
119,6.0,2.2,5.0,1.5,virginica,0,11.0
120,6.9,3.2,5.7,2.3,virginica,0,12.6
121,5.6,2.8,4.9,2.0,virginica,0,10.5
122,7.7,2.8,6.7,2.0,virginica,0,14.4
123,6.3,2.7,4.9,1.8,virginica,0,11.2
124,6.7,3.3,5.7,2.1,virginica,0,12.4
125,7.2,3.2,6.0,1.8,virginica,0,13.2
126,6.2,2.8,4.8,1.8,virginica,0,11.0
127,6.1,3.0,4.9,1.8,virginica,0,11.0
128,6.4,2.8,5.6,2.1,virginica,0,12.0
129,7.2,3.0,5.8,1.6,virginica,0,13.0
130,7.4,2.8,6.1,1.9,virginica,0,13.5
131,7.9,3.8,6.4,2.0,virginica,0,14.3
132,6.4,2.8,5.6,2.2,virginica,0,12.0
133,6.3,2.8,5.1,1.5,virginica,0,11.4
134,6.1,2.6,5.6,1.4,virginica,0,11.7
135,7.7,3.0,6.1,2.3,virginica,0,13.8
136,6.3,3.4,5.6,2.4,virginica,0,11.9
137,6.4,3.1,5.5,1.8,virginica,0,11.9
138,6.0,3.0,4.8,1.8,virginica,0,10.8
139,6.9,3.1,5.4,2.1,virginica,0,12.3
140,6.7,3.1,5.6,2.4,virginica,0,12.3
141,6.9,3.1,5.1,2.3,virginica,0,12.0
142,5.8,2.7,5.1,1.9,virginica,0,10.9
143,6.8,3.2,5.9,2.3,virginica,0,12.7
144,6.7,3.3,5.7,2.5,virginica,0,12.4
145,6.7,3.0,5.2,2.3,virginica,0,11.9
146,6.3,2.5,5.0,1.9,virginica,0,11.3
147,6.5,3.0,5.2,2.0,virginica,0,11.7
148,6.2,3.4,5.4,2.3,virginica,0,11.6
149,5.9,3.0,5.1,1.8,virginica,0,11.0

In [51]:
len(df[df['species'] == 'virginica'])

50

In [52]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
0,5.1,3.5,1.4,0.2,setosa,0,6.5
1,4.9,3.0,1.4,0.2,setosa,0,6.3
2,4.7,3.2,1.3,0.2,setosa,0,6.0
3,4.6,3.1,1.5,0.2,setosa,0,6.1
4,5.0,3.6,1.4,0.2,setosa,0,6.4
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,0,11.9
146,6.3,2.5,5.0,1.9,virginica,0,11.3
147,6.5,3.0,5.2,2.0,virginica,0,11.7
148,6.2,3.4,5.4,2.3,virginica,0,11.6
149,5.9,3.0,5.1,1.8,virginica,0,11.0

In [53]:
df[df["new_col"] == 0]

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
0,5.1,3.5,1.4,0.2,setosa,0,6.5
1,4.9,3.0,1.4,0.2,setosa,0,6.3
2,4.7,3.2,1.3,0.2,setosa,0,6.0
3,4.6,3.1,1.5,0.2,setosa,0,6.1
4,5.0,3.6,1.4,0.2,setosa,0,6.4
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,0,11.9
146,6.3,2.5,5.0,1.9,virginica,0,11.3
147,6.5,3.0,5.2,2.0,virginica,0,11.7
148,6.2,3.4,5.4,2.3,virginica,0,11.6
149,5.9,3.0,5.1,1.8,virginica,0,11.0

In [54]:
df[df['new_col1'] == 6]

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
2,4.7,3.2,1.3,0.2,setosa,0,6.0
6,4.6,3.4,1.4,0.3,setosa,0,6.0
47,4.6,3.2,1.4,0.2,setosa,0,6.0

In [55]:
df['species'] == 'virginica'

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: species, Length: 150, dtype: bool

In [56]:
df['petal_width'] < 1

0       True
1       True
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148    False
149    False
Name: petal_width, Length: 150, dtype: bool

In [57]:
df[(df['species'] == 'virginica') & (df['petal_width'] < 1)] #& is matlab and hota ahi matlab 'and'= ager 1st condition df['species'] == 'virginica') sahi hai to 2nd condition (df['petal_width'] < 1) bhi sahi ho to result atega matlab and dono condition sahi hona chayea to result aayega ager  dono me se koi bhi ak condition  glat hua to result nahi aayega ager dono glat ho gaya to to bhi result nahi yega

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species, new_col, new_col1]
Index: []

In [58]:
df[(df['species'] == 'virginica') | (df['petal_width'] < 1)] # | matlab | → OR hai and ke ulata hai iseme age koi ak bhi condition dono se ak bhi condition sahi  ho gaya to result aajayega . ager dono glat ho gaya to  bhi result nahi yega

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
0,5.1,3.5,1.4,0.2,setosa,0,6.5
1,4.9,3.0,1.4,0.2,setosa,0,6.3
2,4.7,3.2,1.3,0.2,setosa,0,6.0
3,4.6,3.1,1.5,0.2,setosa,0,6.1
4,5.0,3.6,1.4,0.2,setosa,0,6.4
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,0,11.9
146,6.3,2.5,5.0,1.9,virginica,0,11.3
147,6.5,3.0,5.2,2.0,virginica,0,11.7
148,6.2,3.4,5.4,2.3,virginica,0,11.6
149,5.9,3.0,5.1,1.8,virginica,0,11.0

In [59]:
df[(df['species'] == 'setosa') & (df['petal_width'] < 1)]

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
0,5.1,3.5,1.4,0.2,setosa,0,6.5
1,4.9,3.0,1.4,0.2,setosa,0,6.3
2,4.7,3.2,1.3,0.2,setosa,0,6.0
3,4.6,3.1,1.5,0.2,setosa,0,6.1
4,5.0,3.6,1.4,0.2,setosa,0,6.4
5,5.4,3.9,1.7,0.4,setosa,0,7.1
6,4.6,3.4,1.4,0.3,setosa,0,6.0
7,5.0,3.4,1.5,0.2,setosa,0,6.5
8,4.4,2.9,1.4,0.2,setosa,0,5.8
9,4.9,3.1,1.5,0.1,setosa,0,6.4
10,5.4,3.7,1.5,0.2,setosa,0,6.9
11,4.8,3.4,1.6,0.2,setosa,0,6.4
12,4.8,3.0,1.4,0.1,setosa,0,6.2
13,4.3,3.0,1.1,0.1,setosa,0,5.4
14,5.8,4.0,1.2,0.2,setosa,0,7.0
15,5.7,4.4,1.5,0.4,setosa,0,7.2
16,5.4,3.9,1.3,0.4,setosa,0,6.7
17,5.1,3.5,1.4,0.3,setosa,0,6.5
18,5.7,3.8,1.7,0.3,setosa,0,7.4
19,5.1,3.8,1.5,0.3,setosa,0,6.6
20,5.4,3.4,1.7,0.2,setosa,0,7.1
21,5.1,3.7,1.5,0.4,setosa,0,6.6
22,4.6,3.6,1.0,0.2,setosa,0,5.6
23,5.1,3.3,1.7,0.5,setosa,0,6.8
24,4.8,3.4,1.9,0.2,setosa,0,6.7
25,5.0,3.0,1.6,0.2,setosa,0,6.6
26,5.0,3.4,1.6,0.4,setosa,0,6.6
27,5.2,3.5,1.5,0.2,setosa,0,6.7
28,5.2,3.4,1.4,0.2,setosa,0,6.6
29,4.7,3.2,1.6,0.2,setosa,0,6.3
30,4.8,3.1,1.6,0.2,setosa,0,6.4
31,5.4,3.4,1.5,0.4,setosa,0,6.9
32,5.2,4.1,1.5,0.1,setosa,0,6.7
33,5.5,4.2,1.4,0.2,setosa,0,6.9
34,4.9,3.1,1.5,0.2,setosa,0,6.4
35,5.0,3.2,1.2,0.2,setosa,0,6.2
36,5.5,3.5,1.3,0.2,setosa,0,6.8
37,4.9,3.6,1.4,0.1,setosa,0,6.3
38,4.4,3.0,1.3,0.2,setosa,0,5.7
39,5.1,3.4,1.5,0.2,setosa,0,6.6
40,5.0,3.5,1.3,0.3,setosa,0,6.3
41,4.5,2.3,1.3,0.3,setosa,0,5.8
42,4.4,3.2,1.3,0.2,setosa,0,5.7
43,5.0,3.5,1.6,0.6,setosa,0,6.6
44,5.1,3.8,1.9,0.4,setosa,0,7.0
45,4.8,3.0,1.4,0.3,setosa,0,6.2
46,5.1,3.8,1.6,0.2,setosa,0,6.7
47,4.6,3.2,1.4,0.2,setosa,0,6.0
48,5.3,3.7,1.5,0.2,setosa,0,6.8
49,5.0,3.3,1.4,0.2,setosa,0,6.4

In [60]:
max(df['petal_width'])

2.5

In [62]:
df[df['petal_width'] == max(df['petal_width'])]

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
100,6.3,3.3,6.0,2.5,virginica,0,12.3
109,7.2,3.6,6.1,2.5,virginica,0,13.3
144,6.7,3.3,5.7,2.5,virginica,0,12.4

In [63]:
df[df['petal_width'] == max(df['petal_width'])]['species']

100    virginica
109    virginica
144    virginica
Name: species, dtype: object

In [64]:
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
0,5.1,3.5,1.4,0.2,setosa,0,6.5
1,4.9,3.0,1.4,0.2,setosa,0,6.3
2,4.7,3.2,1.3,0.2,setosa,0,6.0
3,4.6,3.1,1.5,0.2,setosa,0,6.1
4,5.0,3.6,1.4,0.2,setosa,0,6.4

In [65]:
df[0:2]

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
0,5.1,3.5,1.4,0.2,setosa,0,6.5
1,4.9,3.0,1.4,0.2,setosa,0,6.3

In [66]:
df[0::2] # 0 index se ::last tak hoga than 2 jump

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
0,5.1,3.5,1.4,0.2,setosa,0,6.5
2,4.7,3.2,1.3,0.2,setosa,0,6.0
4,5.0,3.6,1.4,0.2,setosa,0,6.4
6,4.6,3.4,1.4,0.3,setosa,0,6.0
8,4.4,2.9,1.4,0.2,setosa,0,5.8
...,...,...,...,...,...,...,...
140,6.7,3.1,5.6,2.4,virginica,0,12.3
142,5.8,2.7,5.1,1.9,virginica,0,10.9
144,6.7,3.3,5.7,2.5,virginica,0,12.4
146,6.3,2.5,5.0,1.9,virginica,0,11.3
148,6.2,3.4,5.4,2.3,virginica,0,11.6

In [67]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
0,5.1,3.5,1.4,0.2,setosa,0,6.5
1,4.9,3.0,1.4,0.2,setosa,0,6.3
2,4.7,3.2,1.3,0.2,setosa,0,6.0
3,4.6,3.1,1.5,0.2,setosa,0,6.1
4,5.0,3.6,1.4,0.2,setosa,0,6.4
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,0,11.9
146,6.3,2.5,5.0,1.9,virginica,0,11.3
147,6.5,3.0,5.2,2.0,virginica,0,11.7
148,6.2,3.4,5.4,2.3,virginica,0,11.6
149,5.9,3.0,5.1,1.8,virginica,0,11.0

In [69]:
df[['petal_width','species','new_col']][0:3] # uper - 1 , (3 - 1 = 2)

   petal_width species  new_col
0          0.2  setosa        0
1          0.2  setosa        0
2          0.2  setosa        0

In [74]:
df.iloc[0:3]

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,new_col1
0,5.1,3.5,1.4,0.2,setosa,0,6.5
1,4.9,3.0,1.4,0.2,setosa,0,6.3
2,4.7,3.2,1.3,0.2,setosa,0,6.0

In [71]:
df.iloc[0:2,['petal_width','species','new_col']]

IndexError: .iloc requires numeric indexers, got ['petal_width' 'species' 'new_col']

In [75]:
df.loc[0:3,['petal_width','species','new_col']] #loc matmully jo  chij leta ya jo manually lakhthe ahi matlab hai fill me likha gaya hai o leta hai o nahi  jo python by default deta hai o nahi leta hai

   petal_width species  new_col
0          0.2  setosa        0
1          0.2  setosa        0
2          0.2  setosa        0
3          0.2  setosa        0

In [ ]:
#.loc me last index include hota hai, lekin .iloc me nahi.
#kyu .loc me index include hota hai “Main data ko label (naam) se chah raha hoon, na ki position se.” matlab manually diya hua hai name hota hai o posion nahi hota hai o name hota hai name me ak kam nahi hota hai manua

Label matlab — row ka naam (jo hum khud dete hain).
Jaise: 
    A
a  10
b  20
c  30
d  40
matually diya jaya hai

In [77]:
df.iloc[0:3,[0,1,2]] # jo python by default deta(assing) hai o leta hai manually nahi leta hai 'petal_width','species','new_col' se python by default number deta hai

   sepal_length  sepal_width  petal_length
0           5.1          3.5           1.4
1           4.9          3.0           1.4
2           4.7          3.2           1.3